* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0;
    background: #E7F4F8;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.background {
    background-image: url("background_test1.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
}

html{
    max-width: 1200;
}

.fonts {
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:ital,wght@1,300&family=Playfair+Display:wght@500&family=Source+Serif+Pro&family=Spectral+SC:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:ital,wght@1,300&family=Playfair+Display:wght@500&family=Source+Serif+Pro&family=Spectral+SC:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:ital,wght@1,300&family=Oswald:wght@300;600&family=Playfair+Display:wght@500&family=Source+Serif+Pro&family=Spectral+SC:wght@300&display=swap');
}

.container {
    width:80%;
    margin: 0 auto;
}

header {
    background: #CDE7F0;
    border-bottom: 3px solid #000;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    padding: 6px 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left: 60px;
  margin-bottom: -12px;
}

.photo_border {
    border: 3px solid black;
    border-radius: 9px;
    max-height: 600px;
    max-width: 600px;

}

.text {
    background: #CDE7F0;
    font-family: 'Spectral SC', serif;
    font-size: 2vw;
    border: 3px solid black;
    max-width: auto;
    border-radius: 9px;
}

.text_header {
    font-family: 'Spectral SC', serif;
}

.spliter {
    background: #CDE7F0;
    border: 3px solid black;
    border-radius: 9px;
    max-width: 700px;
    font-family: 'Spectral SC', serif';
}

.video_index {
    translate: translate(500px, 1414px)
}


.contactme {
    font-family: 'Spectral SC', serif;
    font-size: x-large;
}

.youtube_videos {
    background-color: #CDE7F0;
    display: inline-block;
    border: 4px solid black;
    border-radius: 9px;
    margin-right: 150px;
    max-height: 330px;
    z-index: -1;
    padding: 4px;
    transform: translate(75px, 0px);
}



.show {display: block;}

